################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cpp/x64/Debug
/MemoryModel/x64/Debug
/x64/Debug
/TaskGraph/x64/Debug/TaskGraph.tlog
/TaskGraph/x64/Debug
